# Automotive Auction Data Project by DesignIsOrion

In this project, I was requested to explore the Automotive Auction Data provided by a client. The client wanted the dataset to be easy to understand as well as provide insight on the mercades benz listings that are available. 

Goal: 
- Fix the .csv and save a new modified version
- Find Pricing of Auto (mean, min/max)
- List Data of Mercades Benz Only


<img src="benz.png">

In [5]:
import pandas as pd
import numpy as np
import csv

In [6]:
df = pd.read_csv('cars.csv')
df.head(20)

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5,5700,dodge,mpv,2018,clean vehicle,45561.0,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,7,13350,gmc,door,2017,clean vehicle,23525.0,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,8,14600,chevrolet,malibu,2018,clean vehicle,9371.0,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left
10,10,10400,dodge,coupe,2009,clean vehicle,107856.0,orange,2b3lj54t49h509675,167753874,georgia,usa,22 hours left
11,11,12920,gmc,mpv,2017,clean vehicle,39650.0,white,1gks2bkc6hr136280,167692496,california,usa,20 hours left
12,12,31900,chevrolet,1500,2018,clean vehicle,22909.0,black,3gcukrec0jg176059,167763273,tennessee,usa,22 hours left
13,13,5430,chrysler,wagon,2017,clean vehicle,138650.0,gray,2c4rc1cg5hr616095,167656123,texas,usa,2 days left
14,14,20700,ford,door,2013,clean vehicle,100757.0,black,1ftfw1et7dfa47790,167753916,virginia,usa,22 hours left
15,15,12710,gmc,door,2017,clean vehicle,25747.0,white,1gks2gkc6hr328389,167692497,california,usa,20 hours left
16,16,5200,kia,forte,2018,clean vehicle,46194.0,blue,3kpfk4a77je198723,167801757,north carolina,usa,2 days left
17,17,16500,buick,encore,2018,clean vehicle,20002.0,red,kl4cj1sb6jb688844,167763275,tennessee,usa,22 hours left
18,18,5210,ford,mpv,2017,clean vehicle,35714.0,white,2fmpk3j95hbb73607,167656124,texas,usa,2 days left
19,19,38100,ford,door,2013,clean vehicle,54380.0,gray,1ft8w3dt5deb68569,167753923,virginia,usa,22 hours left

In [7]:
df.columns

Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [8]:
new_df= df.drop(['condition', 'country', 'Unnamed: 0', 'vin', 'title_status', 'mileage', 'lot', 'model'], axis=1)
new_df.columns= new_df.columns.str.upper()
new_df['BRAND']= new_df['BRAND'].str.upper()
new_df['COLOR']= new_df['COLOR'].str.upper()
new_df['STATE']= new_df['STATE'].str.upper()
new_df.reset_index(drop=True, inplace=True)
new_df.to_csv("modified.csv")
new_df

      PRICE      BRAND  YEAR   COLOR       STATE
0      6300     TOYOTA  2008   BLACK  NEW JERSEY
1      2899       FORD  2011  SILVER   TENNESSEE
2      5350      DODGE  2018  SILVER     GEORGIA
3     25000       FORD  2014    BLUE    VIRGINIA
4     27700  CHEVROLET  2018     RED     FLORIDA
...     ...        ...   ...     ...         ...
2494   7800     NISSAN  2019     RED  CALIFORNIA
2495   9200     NISSAN  2018  SILVER     FLORIDA
2496   9200     NISSAN  2018  SILVER     FLORIDA
2497   9200     NISSAN  2018   BLACK     FLORIDA
2498   9200     NISSAN  2018  SILVER     FLORIDA

[2499 rows x 5 columns]

# Price

In [9]:
# lets find the average PRICE on the list
new_df['PRICE'].mean()

18767.671468587436

In [10]:
new_df['PRICE'].min()

0

In [11]:
# highest priced car
new_df['PRICE'].max()

84900

In [12]:
# found the highest priced car.
new_df[new_df['PRICE']== 84900]

     PRICE          BRAND  YEAR   COLOR    STATE
502  84900  MERCEDES-BENZ  2017  SILVER  FLORIDA

In [13]:
# Find out how many benzes are on the list.
benz_data = new_df[new_df['BRAND']== 'MERCEDES-BENZ']
benz_data.reset_index(drop=True, inplace=True)
benz_data.to_csv('benz_data.csv')
benz_data

   PRICE          BRAND  YEAR   COLOR       STATE
0  16600  MERCEDES-BENZ  2016   WHITE    NEW YORK
1  16600  MERCEDES-BENZ  2016   WHITE    NEW YORK
2  40000  MERCEDES-BENZ  2019   WHITE  CALIFORNIA
3  10740  MERCEDES-BENZ  2018   WHITE  CALIFORNIA
4  24900  MERCEDES-BENZ  2018   WHITE  CALIFORNIA
5  29400  MERCEDES-BENZ  2017    BLUE     FLORIDA
6  28000  MERCEDES-BENZ  2018   WHITE  CALIFORNIA
7  84900  MERCEDES-BENZ  2017  SILVER     FLORIDA
8  17900  MERCEDES-BENZ  2015    GRAY     FLORIDA
9  18000  MERCEDES-BENZ  2015   BLACK     FLORIDA